@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;

}


body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    overflow: hidden;
    height: 100vh;

}

.container{
    display: flex;
    width: 90vw;
    
}

.panel{
    flex: 0.5;
    margin: 7px;
    border-radius: 50px;
    position: relative;
    background-image: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    color: white;
    cursor: pointer;
    transition: flex 0.7s ease;
    

}

.panel h3{
    position: absolute;
    bottom:10px;
    left:50px;
    opacity: 0;
    transition: all 0.3s ease;
}

.panel.active{
    flex: 2;
    border-radius: 30px;
}

.panel.active h3{
    opacity: 1;
}

@media (max-width:900px) {
    .container{
        width: 100vw;
    }
    .panel:nth-of-type(4),
    .panel:nth-of-type(5){
        display: none;
    }
}